//- 7-components/loader

// Loader App
.loader__app {
  &__main {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__spinner {
    margin-bottom: 3.5rem;
  }

  &__info {
    font-size: 1.4rem;
    font-weight: 600;
    color: #{$color-muted};
    text-transform: uppercase;
  }
}

// Loader Router
.loader__router {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99990;
  height: 0.6rem;
  background-color: #eeeeee;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &[data-state="show"] {
    opacity: 1;
    visibility: visible;
  }

  &__bar {
    height: 100%;
    background-color: #{$color-primary};
    transition: all 0.4s;
    transition-delay: 0.2s;
  }
}

// Loader Page
.loader__page {
  &__content {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin-bottom: 3.5rem;
  }

  &__info {
    font-size: 1.4rem;
    font-weight: 600;
    color: #{$color-muted};
    text-transform: uppercase;
  }
}

// Loader Router
.loader__router {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99990;
  height: 0.6rem;
  background-color: #eeeeee;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &[data-state="show"] {
    opacity: 1;
    visibility: visible;
  }

  &__bar {
    height: 100%;
    background-color: #{$color-primary};
    transition: all 0.4s;
    transition-delay: 0.2s;
  }
}